[user]
	name = Nick Kouris
	email = nick.kouris@decisiondesk.com

[color]
	ui = true

[alias]
	clog = log --date=short --pretty=format:\"%h %cd %an %s\"

	dlog = log --date=short --pretty=format:\"%h %cd %an %s\" origin/current-prod..origin/master

        # placeholder formatting:
        #
        # %h = abbreviated commit hash
        # %cd = committer date
        # %an = author name 
        # %s = subject
 
[remote "ddesk"]
	url = https://github.com/DecisionDesk/ddesk.git

[remote "dotfiles"]
    url = https://github.com/nick-kouris-dd/dotfiles.git
